@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;

  src: local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;

  src: local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *::before,
 *::after {
   box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #000000;
  background-color: #F2F2F2;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px 5px rgba(0,1,1,.2);
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-text {
  margin: 0;
}

/*BUTTON*/
.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #FFFFFF;
  border: none;
  background-color: #FFFFFF;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.button-brown {
  width: 568px;
  height: 86px;

  background-color: #766357;
}

.search-details .button-brown {
  font-size: 18px;
  margin-top: 18px;
  padding-left: 117px;
  padding-right: 117px;
}

.button-search,
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  color: #FFFFFF;
  background-color: #81B3D2;
}

.button-search {
  margin-top: 54px;
}

.button-blue {
  width: 458px;
  height: 58px;

  background-color: #81B3D2;
}

.button-add,
.button-remove {
  color: #A9A9A9;
  background-color: #F2F2F2;
  width: 38px;
  height: 38px;
}

.button-add:hover,
.button-remove:hover {
  color: #000000;
}

.button-add:active,
.button-remove:active {
  color: #81B3D2;
}

.button-brown:hover {
  background-color: #604E43;
}

.button-brown:active {
  color: rgba(132, 120, 112, 0.3);
  background-color: #503E33;
}

.button-search:hover,
.social-button:hover {
  background-color: #669EC0;
}

.button-search:active,
.social-button:active {
  color: rgba(135, 181, 209, 0.3);
  background-color: #5496BD;
}

.button-outline-white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: transparent;

  font-weight: normal;
}

.hotel-info .button-brown {
  margin-left: 6px;
}

.hotel-button {
  padding: 4px 16px 4px 16px;
}

/* HEADER FOOTER*/
.page-header {
  position: relative;

  padding-top: 15px;
  padding-bottom: 15px;
}

.page-navigation,
.page-footer  {
  color: #000000;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation {
  display: flex;
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  width: 140px;
  margin-left: -70px;
}

.site-navigation li {
  width: 300px;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  padding-left: 71px;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 13px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 16px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 73px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a[href]:hover {
  color: #81B3D2;
}

.site-navigation a[href]:active {
  color: #B2B2B2;
}

.site-navigation-current a {
  color: #766357;
}

.page-footer {
  display: flex;
  align-items: center;

  min-height: 120px;
}

.page-footer-index {
  margin-top: -128px;
  background-color: rgba(255,255,255,0.9);
  position: relative;
}

.page-footer-hashtag {
  width: 136px;

  text-align: center;
}

.hashtag {
  color: #000000;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-left: -1px;

  width: 100%;
}

.social-list li:nth-child(1) {
  margin-left: 0;
}

.social-list li:nth-child(2),
.social-list li:nth-child(3) {
  margin-left: 6px;
}

.developed-by {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 197px;

  font-weight: 400;
}

.page-footer-hashtag,
.page-footer-social,
.page-footer-developed-by {
  width: 400px;

  text-align: center;
}
.developed-by-link {
  margin-left: 12px;
  margin-top: 9px;
}

.page-footer-index .developed-by-link {
  margin-left: 6px;
}

.developed-by-link path,
.button-calendar:hover path {
  fill: #000000;
}

.developed-by-link:hover path,
.button-calendar:active path {
  fill: #81b3d2;
}

.developed-by-link:active path,
.button-calendar path {
  fill: #A9A9A9;
}



/*FORM*/
.search-modal {
  position: relative;
}

.search-form {
  position: absolute;
  left: 50%;

  width: 568px;
  margin-left: -285px;
  padding: 55px 55px 56px 55px;

  background-color: #FFFFFF;
}

.search-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.label-check-in {
  width: 88px;
}

.label-check-out {
  width: 92px;
}

.search-data-input {
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
  font: inherit;
}

.input-check-in,
.input-check-out {
  width: 346px;
  padding-left: 10px;
  height: 38px;
}

.input-check-in {
  margin-left: 24px;
}

.input-check-out {
  margin-left: 21px;
}

.search-item input:hover {
  background-color: #EBEBEB;
}

.search-item input:active {
  background-color: #FFFFFF;
}

input::placeholder {
  color: #000000;

  font-size: 14px;
  line-height: 26px;
}

.button-calendar {
  position: absolute;
  left: 95%;
  top: 0;
  margin-left: -11px;
  margin-top: 6px;
  background-color: #F2F2F2;
}

.search-data-adults,
.search-data-kids {
  width: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.search-data-kids .search-data-label {
  margin-left: 51px;
  margin-top: 1px;
}

.search-data-adults .search-data-label {
  margin-top: 1px;
}
.data-adults,
.data-kids {
  width: 38px;
  height: 38px;

  text-align: center;
}

.data-adults-button {
  margin-left: 41px;
}

.data-kids-button {
  margin-left: 27px;
}

.search-info {
  display: flex;
  flex-direction: column;
}

.filters {
  min-height: 217px;
}

.filter-form {
  color: #FFFFFF;
  background-color: #D7E8F2;
  background-image: url("../img/filter-background.png");

  font-size: 14px;
  line-height: 21px;
  padding: 27px 0px 11px 69px;
  background-position: 0px -295px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form fieldset:nth-child(2) {
  width: 255px;
}

.filter-form fieldset:nth-child(3) {
  width: 326px;
}

.filter-price fieldset {
  width: 320px;
  margin-left: auto;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.fieldset-list {
  margin-top: 21px;
}

/* стоимость*/
.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  margin-left: 66px;
  margin-top: -2px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.button-transparent {
  display: block;
  margin-left: 84px;
  width: 137px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-input:disabled {
  opacity: 0.5;
  color: #6A6A6A;
}

.filter-form {
  display: flex;
}

.filter-form ul {
  width: 210px;
}

.filter-item {
  margin-bottom: 25px;
  margin-top: 16px;
  padding-left: 39px;
  display: flex;
}

.filter-item input {
  display: none;
}

.filter-item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-item input:hover + label,
.filter-item input:focus + label {
  color: #FFFFFF;
}

.filter-item input + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
}

.filter-item input:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -36px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item input + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -38px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-price {
  width: 480px;

  text-align: left;
}

/*INDEX*/
.intro {
  display: flex;
  flex-direction: column;

  background-color: #D7E8F2;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 450px, 0 -83px;
}

.intro .intro-img {
  width: 459px;
  margin-top: 76px;
  margin-left: 370px;

  background: transparent;
}

.intro-text {
  width: 1200px;
  margin-top: 72px;
  padding-top: 59px;
  padding-right: 281px;
  padding-left: 281px;
  padding-bottom: 15px;

  text-align: center;

  background-color: #FFFFFF;
}

.intro-text p {
  margin-bottom: 35px;
}

.intro-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.reason-sublist {
  display: flex;
}

.reason-subitem {
  width: 400px;
  padding: 162px 47px 80px 47px;
}

.reason-item,
.reason-subitem {
  text-align: center;
}

.reason-item {
  display: flex;
}

.reason-item h3,
.reason-subitem-details h3 {
  font-size: 21px;
  font-weight: bold;
}

.reason-subitem-details h3 {
  margin-bottom: 25px;
}

.reason-subitem-house {
  background-image: url("../img/icons/house.svg");
  background-repeat: no-repeat;
  background-position: top 62px left 50%;
}

.reason-subitem-food {
  background-image: url("../img/icons/food.svg");
  background-repeat: no-repeat;
  background-position: top 62px left 50%;
}

.reason-subitem-food p {
  margin-left: 3px;
}
.reason-subitem-gift {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: top 58px left 50%;
}

.reasons-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.main-reason {
  display: flex;
}

.main-reason:nth-child(1) {
  order: 1;
}

.main-reason:nth-child(2) {
  order: 3;
}

.main-reason:nth-child(3) {
  order: 4;
}

.main-reason:nth-child(4) {
  order: 2;
}

.main-reason-item {
  width: 400px;
  padding: 48px 42px 57px 42px;
}

.main-reason-item h3 {
  margin-bottom: 21px;
}

.main-reason-item h3 {
  margin: 0 83px 0 83px;
}

.main-reason-item p {
  margin: 24px 10px 0 10px;
}

.main-reason-item .reason-item-blue-details {
  margin-top: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

.main-reason-img {
  width: 800px;
  height: 256px;
}

.reasons-list .reason-item-blue {
  color: #FFFFFF;
  background-color: #81B3D2;
}

.reasons-gray {
  background-color: #EEEEEE;
}

.main-reason-item .gray-item-details {
  margin-top: 23px;
  margin-left: 21px;
  margin-right: 35px;
}

.search-details {
  width: 568px;
  margin: 58px 315px 0 315px;

  background-color: #FFFFFF;
}

.search-details p {
  text-align: center;

  line-height: 24px;
  margin-bottom: 30px;
}

.search-info-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 18px;
}

/*HOTELS*/
.hotels-info {
  display: flex;
  flex-direction: column;
}

.results-total {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort h2 {
  width: 75px;
  margin-top: 36px;
  margin-left: 5px;

  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.result-sort-item {
  margin-top: 33px;
}

.result-sort-item a {
  text-decoration: underline;

  color: #B2B2B2;

  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  text-decoration-color: #81B3D2;
  text-decoration-style: dotted;
}

.result-sort-item a[href]:hover {
  color: #81B3D2;
}

.result-sort-item a[href]:active {
  text-decoration: none;

  color: #000000;
}

.sort-direction-button {
  fill: #B2B2B2;
}

.sort-direction-button:hover {
  fill: #000000;
}

.sort-direction-button:active,
.sort-direction-button-current {
  fill: #81B3D2;
}

.result-sort-item-current a {
  text-decoration: none;

  color: #81B3D2;
}

.results-list {
  background-color: #FEFEFE;

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.result-list-item {
  display: flex;
}

.result-list-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotel-rating {
  width: 110px;
  margin-top: 49px;
  margin-left: 2px;
  text-align: center;
  color: ##666666;

  background-color: #F2F2F2;
}

.search-results {
  display: flex;
  flex-direction: column;
}

.results-wrapper,
.hotel {
  border-bottom: 1px solid #E7E7E7;
}

.results-wrapper {
  display: flex;
  justify-content: space-between;
}

.results-total {
  width: 135px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 71px;
}

.sort {
  display: flex;

  width: 970px;
}

.sort-by-category {
  display: flex;

  width: 280px;
}

.sort-by-priority {
  display: flex;

  width: 40px;
  margin-left: 495px;
}

.sort-by-category .result-sort-item:nth-child(1) {
  width: 49px;
  margin-left: 40px;
}

.sort-by-category .result-sort-item:nth-child(2) {
  width: 49px;
  margin-left: 33px;
}

.sort-by-category .result-sort-item:nth-child(3) {
  width: 76px;
  margin-left: 33px;
}

.sort-by-priority .result-sort-item {
  width: 11px;
  margin-left: 10px;
}

.results-list {
  display: flex;
  flex-direction: column;
}

.hotel {
  align-items: flex-start;
}

.hotel-info,
.hotel-img,
.hotel-details {
  margin-top: 30px;
}

.hotel-img {
  width: 135px;
  height: 90px;
  margin-bottom: 30px;
  margin-left: 71px;
}

.hotel-info {
  width: 544px;
  margin-right: 236px;
  margin-left: 30px;

  text-align: left;
}

.hotel-info h3 {
  margin-top: -7px;
  margin-bottom: 10px;
}

.hotel-type-price {
  display: flex;

  width: inherit;
  margin-bottom: 16px;
}

.hotel-type-price p {
  width: 110px;

}

.hotel-type {
  width: 110px;
}

.hotel-price {
  width: 142px;
  margin-left: 6px;
}

.hotel-details {
  width: 150px;
}

.hotel-stars-four {
  width: 95px;
  height: 17px;
  margin-left: 21px;

  background-image: url("../img/icons/star.svg");
  background-repeat: repeat;
}

.hotel-stars-three {
  width: 71px;
  height: 17px;
  margin-left: 44px;

  background-image: url("../img/icons/star.svg");
  background-repeat: repeat;
}

.hotel-stars-two {
  width: 47px;
  height: 17px;
  margin-left: 68px;

  background-image: url("../img/icons/star.svg");
  background-repeat: repeat;
}
