@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;

  src: local('PT Sans'),
       url('/fonts/ptsans.woff2') format('woff2'),
       url('/fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;

  src: local('PT Sans'),
       url('/fonts/ptsansbold.woff2') format('woff2'),
       url('/fonts/ptsansbold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *::before,
 *::after {
   box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #000000;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*BUTTON*/
.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #FFFFFF;
  border: none;
  background-color: #FFFFFF;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.button-brown {
  width: 568px;
  height: 86px;
  background-color: #766357;
}

.button-blue {
  width: 458px;
  height: 58px;
  background-color: #81B3D2;
}

.button-add,
.button-remove {
  color: #A9A9A9;
  background-color: #F2F2F2;
}

.button-add:hover,
.button-remove:hover {
  color: #000000;
}

.button-add:active,
.button-remove:active {
  color: #81B3D2;
}

.button-brown:hover {
  background-color: #604E43;
}

.button-brown:active {
  color: rgba(132, 120, 112, 0.3);
  background-color: #503E33;
}

.button-search,
.social-button {
  color: #FFFFFF;
  background-color: #81B3D2;
}

.button-search:hover,
.social-button:hover {
  background-color: #669EC0;
}

.button-search:active,
.social-button:active {
  color: rgba(135, 181, 209, 0.3);
  background-color: #5496BD;
}

.button-outline-white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: transparent;

  font-weight: normal;
}

/* HEADER FOOTER*/
.page-navigation,
.page-footer  {
  color: #000000;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.page-navigation,
.reset-list {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81B3D2;
}

.site-navigation-current a {
  color: #766357;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

/*FORM*/
.search-form {
  background-color: #FFFFFF;
  background-image: url("../img/map.png");
}

.search-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.search-item input {
  background-color: #F2F2F2;

  font: inherit;
}

.search-item input:hover {
  background-color: #EBEBEB;
}

.search-item input:active {
  background-color: #FFFFFF;
}

input::placeholder {
  color: #000000;

  font-size: 14px;
  line-height: 26px;
}

/*INDEX*/
.intro {
  display: flex;
  flex-direction: column;
  background-color: #D7E8F2;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: 0 506px, 0 -27px;
  background-repeat: no-repeat;
}

.intro .intro-img {
  width: 459px;
  margin-top: 132px;
  margin-left: 410px;
  background: transparent;
}

.intro-text {
  width: 1200px;
  text-align: center;
  margin-top: 72px;
  background-color: #FFFFFF;
}

.intro-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reason-sublist {
  display: flex;
}

.reason-subitem {
  width: 400px;
}

.reason-item,
.reason-subitem {
  text-align: center;
}

.reason-item {
  display: flex;
}

.reason-item h3,
.reason-subitem h3 {
  font-size: 21px;
  font-weight: bold;
}

.reasons-list .reason-item-blue {
  color: #FFFFFF;
  background-color: #81B3D2;
}

.reasons-gray {
  background-color: #EEEEEE;
}

.search-info-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

/*HOTELS*/
.filter-form {
  color: #FFFFFF;
  background-color: #D7E8F2;
  background-image: url("../img/background-photo.jpg");

  font-size: 14px;
  line-height: 21px;
}

.filter-form fieldset{
  border: none;
  background: transparent;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-item input+label {
  font-weight: normal;
}

.filter-item input:hover,
.filter-item input:focus {
  color: #FFFFFF;
}

.filter-input:disabled {
  opacity: 0.5;
  color: #6A6A6A;
}

.results-total {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort h2 {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.result-sort-item a {
  text-decoration: underline;

  color: #B2B2B2;

  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  text-decoration-color: #81B3D2;
  text-decoration-style: dotted;
}

.result-sort-item a[href]:hover {
  color: #81B3D2;
}

.result-sort-item a[href]:active {
  text-decoration: none;

  color: #000000;
}

.result-sort-item-current a {
  text-decoration: none;

  color: #81B3D2;
}

.results-list {
  background-color: #FEFEFE;

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.result-list-item {
  text-align: left;
}

.result-list-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.results-list-item .item-rating {
  text-align: right;

  background-color: #F2F2F2;
}

/*Сетки*/
.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: #ECECEC;
}

.flex-header {
  display: flex;
  justify-content: space-between;
}

.flex-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.flex-logo {
  width: 140px;
  position:absolute;
  top: 0;
  left: 530px;
  text-align: center;
  order: 3;
}

.flex-navigation li {
  width: 239px;
}

.flex-navigation li:nth-child(1) {
  order: 1;
  text-align: left;
}

.flex-navigation li:nth-child(2) {
  order: 2;
  text-align: left;
}

.flex-navigation li:nth-child(3) {
  order: 4;
  text-align: right;
}

.flex-navigation li:nth-child(4) {
  order: 5;
  text-align: right;
}

.flex-reasons-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.flex-item {
  width: 1200px;
  display: flex;
}

.flex-item:nth-child(1) {
  order: 1;
}

.flex-item:nth-child(2) {
  order: 3;
}

.flex-item:nth-child(3) {
  order: 4;
}

.flex-item:nth-child(4) {
  order: 2;
}

.flex-main-item {
  width: 400px;
  padding: 44px 46px 44px 46px;
}

.flex-img {
  wigth: 800px;
  height: 256px;
}

.search-info {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.flex-search {
  width: 637px;
  margin-top: 24px;
  margin-left: 280px;
  text-align: center;
  background-color: #FFFFFF;
}

.search {
  background-image: url("../img/map.png");
  height: 474px;
}

.search-form {
  width: 568px;
  margin-left: 315px;
  padding: 55px;
}

.flex-footer {
  display: flex;
  width: 1200px;
  height: 120px;
  justify-content: space-between;
}

.page-footer-hashtag {
  width: 136px;
  text-align: center;
}

.flex-social {
  width: 186px;
  display: flex;
  flex-direction: row;
}

.flex-button {
  margin-left: 6px;
}

.social-button img {
  width: 46px;
  height: 48px;
}

.developed-by {
  width: 197px;
}

.flex-hotels {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.filter-form {
  display: flex;
  width: 1200px;
}

.filter-form .reset-list {
  width: 210px;
}

.flex-price {
  width: 478px;
  text-align: right;
}

.flex-results {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.results-wrapper {
  display: flex;
  width: 1200px;
}

.results-total {
  width: 200px;
}

.sort {
  display: flex;
  width: 800px;
}

.sort h2 {
  width: 90px;
}

.sort-by-category {
  display: flex;
  width: 400px;
}

.sort-by-priority {
  display: flex;
  width: 40px;
}
.sort-by-category .result-sort-item:nth-child(1),
.sort-by-category .result-sort-item:nth-child(2) {
  width: 60px;
}

.sort-by-category .result-sort-item:nth-child(3) {
  width: 90px;
}

.sort-by-priority .result-sort-item {
  width: 11px;
}

.results-list {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.hotel {
  display: flex;
  width: 1200px;
}

.flex-hotel-img {
  width: 135px;
  text-align: left;
}

.flex-hotel-info {
  width: 544px;
  text-align: left;
  margin-left: 20px;
}

.flex-type-price {
  display: flex;
  width: inherit;
}

.flex-type-price p {
  width: 110px;

}

.flex-hotel-rating {
  width: 150px;
  text-align: right;
}
